---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const jobOpenings = [];
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/graphics/favicon.png" />
</head>
<body>
	<Header />
	<main class="mx-auto max-w-4xl">
		<h1 class="text-5xl text-center mb-6 font-extrabold tracking-tight text-sky-600 m:text-3xl">Careers</h1>
		<section>
			<h2 class="text-4xl font-extrabold text-gray-800">Working With Us</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolor hic ratione ut voluptatibus aperiam
				repellat beatae ullam repudiandae odio sapiente nobis libero quaerat, sint eligendi maxime
				necessitatibus voluptatem sed!
			</p>
		</section>
		<section>
			<h2 class="text-4xl font-extrabold text-gray-800">Current Openings</h2>
			{
				jobOpenings.length === 0 ? (
					<p>No current openings</p>
				) : (
					<>
						<p>Job</p>
						<p>Job</p>
					</>
				)
			}
		</section>
	</main>
	<Footer />
</body>
