---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/graphics/favicon.png" />
</head>
<body>
	<Header />
	<main class="mx-auto max-w-4xl">
		<section class="relative w-full   ">
	    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBlueWaveAmerica&tabs=timeline%2Cevents&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" style="overflow:hidden" allowfullscreen allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" />
		</section>
	</main>
</body>
<Footer />
