---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blue Wave America</title>
	</head>
	<body>
        <a href='/'>Home</a>
        <a href='/about-us/'>About Us</a>
        <a href='/georgia'>Georgia</a>
        <a href='/north-carolina'>North Carolina</a>
        <a href='/michigan'>Michigan</a>
        <a href='/wisconsin'>Wisconsin</a>
        <h1>North Carolina</h1>
	</body>
</html>
