---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/graphics/favicon.png" />
</head>
<Header />
<main class="ml-5 my-10">
	<section>
		<h1 class="text-5xl text-center mb-6 font-extrabold tracking-tight text-sky-600 m:text-3xl">Getting Involved with Blue Wave</h1>
    <p class="ml-5 text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab deserunt numquam illo omnis cupiditate accusamus, vel facere eligendi cum! Eum asperiores iure sunt tempore iusto saepe magni expedita laudantium totam!</p>
	</section>
	<section class="flex flex-col gap-8">
    <h2 class="text-4xl font-extrabold text-gray-800">Volunteering</h2>
    <p class="ml-5 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias culpa impedit voluptates eum dolorum a cupiditate tempora dolore veniam et. Consectetur, numquam ex ipsam repellat reiciendis necessitatibus nihil officia quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi at ab eum saepe ipsam. Quasi vitae tempora placeat doloremque deserunt, aperiam dolorem? Dicta ut, reprehenderit necessitatibus odit cumque pariatur.</p>
    <a href="/volunteer">Volunteer Page</a>
    <Image src="https://images.pexels.com/photos/1550337/pexels-photo-1550337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Stock Image" height={1000} width={400} class="self-center"/>
	</section>
	<section class="flex flex-col gap-8">
    <h2 class="text-4xl font-extrabold text-gray-800">Careers</h2>
    <p class="ml-5 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias culpa impedit voluptates eum dolorum a cupiditate tempora dolore veniam et. Consectetur, numquam ex ipsam repellat reiciendis necessitatibus nihil officia quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi at ab eum saepe ipsam. Quasi vitae tempora placeat doloremque deserunt, aperiam dolorem? Dicta ut, reprehenderit necessitatibus odit cumque pariatur.</p>
    <a href="/careers">Careers Page</a>
    <Image src="https://images.pexels.com/photos/1550340/pexels-photo-1550340.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Stock Image" height={1000} width={400} class="self-center"/>
	</section>
</main>
<Footer />
