---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/graphics/favicon.png" />
</head>
<Header />
<main class="ml-5 my-10">
	<section>
		<h1 class="text-5xl text-center mb-6 font-extrabold tracking-tight text-sky-600 m:text-3xl">Getting Involved with Blue Wave</h1>
	</section>
	<section class="ml-5 flex flex-col gap-4">
    <h2 class="text-4xl font-extrabold text-gray-800">Volunteering</h2>
    <p class=" text-lg">Join Blue Wave America in organizing rural voters to protect Democracy in the 2024 Election and beyond!</p>
    <p class=" text-lg">Volunteer Opportunities Include:</p>
    <ul class="list-inside list-disc text-lg">
      <li>Calling Voters from the comfort of your home!</li>
      <li>Connecting with folks you already know about the election through Relational Organizing!</li>
      <li>Knocking on the doors of your neighbors to get them out to vote!</li>
    </ul>
    <a href="https://www.mobilize.us/bluewaveamericamichigan/" class="text-lg text-sky-600 hover:text-sky-400">Michigan</a>
    <a href="https://www.mobilize.us/bluewaveamericanorthcarolina/" class="text-lg text-sky-600 hover:text-sky-400">North Carolina</a>
    <a href="https://www.mobilize.us/bluewaveamericapennsylvania/" class="text-lg text-sky-600 hover:text-sky-400">Pennsylvania</a>
    <a href="https://www.mobilize.us/bluewaveamericawisconsin/" class="text-lg text-sky-600 hover:text-sky-400">Wisconsin</a>
	</section>
  <Image src="https://images.pexels.com/photos/1550337/pexels-photo-1550337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Stock Image" height={1000} width={400} class="self-center"/>
	<section class="flex flex-col gap-8">
    <h2 class="text-4xl font-extrabold text-gray-800">Careers</h2>
    <p class="ml-5 text-lg">We are funding and training the next generation of Democratic political organizers in key swing states on rural voter outreach methods, Democratic turnout software, and digital organizing strategies. Our expert team uses decades of campaign experience to get out the vote where Democrats have given too much ground to Republicans for far too long.</p>
    <a href="https://app.joinhandshake.com/emp/employers/872290" class="text-lg text-sky-600 hover:text-sky-400">Careers Page</a>
    <Image src="https://images.pexels.com/photos/1550340/pexels-photo-1550340.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Stock Image" height={1000} width={400} class="self-center"/>
	</section>
</main>
<Footer />
