---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Image from "astro/components/Image.astro";
import { ClientRouter } from "astro:transitions";

const volunteerLinks = [
	{
		name: "Michigan",
		url: "https://www.mobilize.us/bluewaveamericamichigan/",
	},
	{
		name: "North Carolina",
		url: "https://www.mobilize.us/bluewaveamericanorthcarolina/",
	},
	{
		name: "Pennsylvania",
		url: "https://www.mobilize.us/bluewaveamericapennsylvania/",
	},
	{
		name: "Wisconsin",
		url: "https://www.mobilize.us/bluewaveamericawisconsin/",
	},
];
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/graphics/favicon.png" />
	<ClientRouter />
</head>
<Header />
<main>
	<section class="mx-auto max-w-4xl px-6 my-8">
		<h1
			class="text-5xl text-center mb-6 font-extrabold tracking-tight text-sky-600 m:text-3xl"
		>
			Getting Involved with Blue Wave
		</h1>
	</section>
	<section class="flex flex-col mx-auto max-w-4xl mb-8 gap-4">
		<h2 class="text-4xl font-extrabold text-gray-800">Volunteering</h2>
		<p class="text-lg">
			Join Blue Wave America in organizing rural voters to protect
			Democracy in the 2024 Election and beyond!
		</p>
		<p class="text-lg">Volunteer Opportunities Include:</p>
		<ul class="list-inside list-disc text-lg">
			<li>Calling Voters from the comfort of your home!</li>
			<li>
				Connecting with folks you already know about the election
				through Relational Organizing!
			</li>
			<li>
				Knocking on the doors of your neighbors to get them out to vote!
			</li>
		</ul>
		<p class="mt-2 text-2xl font-bold">Volunteer In:</p>
		<div
			class="grid grid-cols-2 w-1/2 my-6 gap-4 self-center justify-items-center"
		>
			{
				volunteerLinks.map((state) => (
					<a
						href={state.url}
						target="_blank"
						class="w-48 text-gray-200 text-center text-lg font-medium bg-sky-600 transition duration-500 hover:bg-sky-500 px-4 py-1.5 rounded-md md:py-2 lg:text-xl"
					>
						{state.name}
					</a>
				))
			}
		</div>
		<Image
			src="/graphics/volunteer-with-us-image.png"
			alt="Stock Image"
			height={1000}
			width={800}
			class="self-center"
		/>
	</section>
</main>
<Footer />
