---

---
<footer class="w-full bg-gray-900">
  <p class="max-w-3xl px-16 py-8 pt-6 mx-auto text-center text-gray-400 uppercase">
    Contact: <a href="mailto:info@bluewaveamerica.com">info@bluewaveamerica.com</a>
  </p>
  <p class=
  "max-w-3xl px-8 py-8 mx-auto mt-6 text-center text-gray-400 uppercase border border-gray-700">
    Paid for by Blue Wave America (bluewaveamerica.com) and not authorized by any candidate or
    candidate's committee
  </p>
  <p class="px-16 pt-8 pb-10 text-center text-gray-400">
    P.O. Box 4519<br>
    Frankfort, KY 40604
  </p>
  <p class="max-w-3xl px-16 pb-8 mx-auto text-center text-gray-400 uppercase">
    <a href="/privacy-policy">Privacy Policy</a>
  </p>
</footer>
