---
import Navbar from "../components/Navbar.astro";
---

<a href="/" class="flex flex-col text-center my-4 pb-4">
	<h1
		class="max-w-full text-6xl text-center font-extrabold tracking-tight leading-none text-sky-600 xl:text-8xl lg:text-7xl 2xl:text-8xl"
	>
		<span class="block sm:inline">BLUE WAVE</span>
		<span class="block text-gray-800 sm:inline">AMERICA</span>
	</h1>
	<br />
	<h1
		class="max-w-full text-6xl text-center font-extrabold tracking-tight leading-none text-sky-600 xl:text-8xl lg:text-7xl 2xl:text-8xl"
	>
		☆ ☆ ☆
	</h1>
</a>
