---
import { Image } from 'astro:assets';
import Navbar from '../components/Navbar.astro'
---
<a href='/' class='flex justify-center mt-2'>
  <Image
  src='/images/logo.png'
  alt='Blue Wave America logo'
  width='900'
  height='150'/>
</a>
<Navbar />
