---
import Navbar from "../components/Navbar.astro";
import Image from "astro/components/Image.astro";
---

<a href="/" class="flex flex-col text-center my-4 pb-4">
	<Image
					src="/graphics/logo.png"
					alt="Blue wave america logo"
					width="900"
					height="150"
					class="mx-auto"
				/>
</a>
<Navbar />
