---
import { Image } from 'astro:assets'

const {name, position, img} = Astro.props.politician;
const fullNameArr = name.split(' ');
const shortNameArr = fullNameArr.slice(0, 2);
const shortName = shortNameArr.join(' ');
---
<li>
  <div class="flex items-center space-x-4">
    <Image
      src={img}
      alt={shortName}
      width='60'
      height='60'
      class="rounded-full"
    />
    <div class="space-y-1 text-lg font-medium leading-6">
      <h3>
        {name}
      </h3>
      <p class="text-sky-600">
        {position}
      </p>
    </div>
  </div>
</li>
