---
const { state } = Astro.props;
---

<li class="w-full mx-auto mt-4 sm:flex sm:justify-center">
	<div class="rounded-md shadow">
		<a class="flex items-center justify-center w-full px-6 py-2 text-lg font-medium bg-white border border-transparent rounded-md min-w-20 text-sky-600 hover:bg-gray-50 md:py-4 sm:px-10"
		href={state.link}
		target="_blank">
      Volunteer for rural {state.name}
    </a>
	</div>
</li>
